/* heights and widths */
.h-screen{
    height: 100vh;
}

.w-300{
    width: 30rem;
}


.card{
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
}

.auth-form-heading{
    border-bottom: 1px solid grey;
}

.text-2x{
    font-size: 2rem;
}
.text-3x{
    font-size: 3rem;
}
.text-4x{
    font-size: 4rem;
}

a{
    text-decoration: none;
}
.btn-primary{
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;

}

.btn-disabled{
    background-color: gray !important;
    color: white !important;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: not-allowed !important;
}
.spinner-parent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.spinner-border{
    border: 0.5rem solid rgba(0,0,0,0.1);
    border-top: 0.5rem solid #1e90ff;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}